[core]
autocrlf = input
editor = nvim
excludesfile = ~/.gitignore
pager = delta

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true    
light = true      
line-numbers = true

[merge]
conflictstyle = diff3

[diff]
colorMoved = default
        
[includeIf "gitdir:/home/ipetrov/stuff/work/"]
path = ~/.gitconfig-work

[includeIf "gitdir:/home/ipetrov/stuff/personal/"]
path = ~/.gitconfig-personal

[includeIf "gitdir:/home/ipetrov/stuff/common/"]
path = ~/.gitconfig-personal

[includeIf "gitdir:/home/ipetrov/vault/"]
path = ~/.gitconfig-personal

[includeIf "gitdir:/home/ipetrov/.dotfiles/"]
path = ~/.gitconfig-personal
