[core]
autocrlf = input
editor = nvim
excludesfile = ~/.gitignore
pager = delta

[credential]
helper = cache --timeout=3600

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true    
light = true      
line-numbers = true

[merge]
conflictstyle = diff3

[diff]
colorMoved = default
        
[includeIf "gitdir:$XDG_DOCUMENTS_DIR/projects/work/"]
path = ~/.gitconfig-work

[includeIf "gitdir:$XDG_DOCUMENTS_DIR/projects/personal/"]
path = ~/.gitconfig-personal

[includeIf "gitdir:$XDG_DOCUMENTS_DIR/projects/common/"]
path = ~/.gitconfig-personal
