[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore
	pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = true
    side-by-side = true
    line-numbers = true

[merge]
	tool = vimdiff
	conflictstyle = diff3

[mergetool "vimdiff"]
    trustExitCode = true

[includeIf "gitdir:~/Documents/projects/work/"]
	path = ~/.gitconfig-work

[includeIf "gitdir:~/Documents/projects/ip812/"]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/Documents/projects/avalon/"]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/Documents/projects/avalonpharma/"]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/Documents/projects/personal/"]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/Documents/projects/common/"]
	path = ~/.gitconfig-personal

[credential]
	helper = store
